.flexingPhotos{
    display:flex;
    justify-content: space-between;
}

.flexingPhotos img{
    border-radius: 50%;
    width: 100%;
    height: 100px;
}

.divArturo{
    background-color: #9700FD;
    border-radius:50%;
    width: auto;
    height: auto;
}

.divArturo:hover{
    background-color: #9700FD;
    opacity: 0,1
}

#arturo{
    transition: filter .4s ease;
}

#arturo:hover{
    opacity:0.1;
    background-color: purple;
}

.divFelipe{
    background-color:gray;
    border-radius:50%;
}

.divFelipe:hover{
    opacity: 0,1;
    background-color: gray;
}

#felipe:hover{
    opacity: 0.1;
}


.divAntonella{
   background-color: black;
    border-radius:50%;
}

.divAntonella:hover{
    background-color: black;
    
}

#antonella:hover{
    opacity: 0.1;
}
.filledText{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 100px;
   color:white;
   -webkit-text-stroke: 0.1px rgb(9, 9, 9);  
    text-shadow: 10px 3px 5px rgba(0, 0, 0, 0.5); 
    margin-top:0.5%;
}
#flexingLogo{
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
    margin-top: -3%;
}

img.logo{
    width: 250px;
    height: 250px;
}