#form{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 100vh
    
}

.flexButton{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#grayButton{
 background-color: rgb(172, 172, 172)   
}

.middleForm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
img{
    height: 250px;
}
.filledText{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 100px;
   color:white;
   -webkit-text-stroke: 0.1px rgb(9, 9, 9);  
    text-shadow: 10px 3px 5px rgba(0, 0, 0, 0.5); 
    margin-top:0.5%;
}

h2{
    margin-top: -3%;
}

#flexingLogo{
    display: flex;
    justify-content: center;
}

.slogan{
    display: flex;
    justify-content: center;
}