#form{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 100vh
    
}

.flexButton{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#grayButton{
 background-color: rgb(172, 172, 172)   
}

.middleForm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}